<section class="mainbar">
  <section class="matter">
    <!--<script src="src/client/app/lib/d3.min.js"></script>-->

    <div class="container">
      <div class="row">
        <div class="widget wviolet">
          <div ht-widget-header title="{{vm.title}}"></div>
          <!--<div class="widget-content user">
            <h3>TODO: Implement Your Features</h3>
          </div>
          <div class="widget-foot">
            <div class="clearfix"></div>
          </div>-->

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-2">
                Array Data Order
              </div>
              <div class="col-md-10">
                Length of Array
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <select ng-model="vm.orderType" ng-change="vm.reDraw();">
                  <optgroup label = "Data Order">
                    <option ng-repeat="y in vm.orderTypeArr" value="{{y}}">{{y}}</option>
                  </optgroup>
                </select>
              </div>
              <div class="col-md-10">
                <rzslider style="width:30%" rz-slider-options="vm.slider.options" rz-slider-model="vm.slider.value"></rzslider>
              </div>
            </div>
            <a ng-click="vm.start()" class="btn btn-primary">Start</a>
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <div class="container-fluid">
        <div class="row">
          <div ng-repeat="algo in vm.algorithams" style="text-align: center" class="col-md-4 col-lg-4">
            <div class="card card-block" style="border: 1px solid;padding: 10px;margin: 10px;">
              <h4 class="card-title">{{algo.title.toUpperCase()}}</h4>
              <p style="text-align: center; font-size: 47px;position: relative;margin: 31px !important;" ng-if="algo.counter">
                {{algo.counter}}
              </p>
              <a ng-click="vm.stopTimer()" class="btn btn-primary">Go somewhere</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
